<!DOCTYPE html>
<html lang="en">
<head>
  <title>AIR POLLUTION DATA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
    html{
      background-image: url('https://cutewallpaper.org/21/stormy-weather-live-wallpaper/Best-48+-Stormy-Forest-Wallpaper-on-HipWallpaper-Beautiful-.jpg');
      background-size: cover;
    }
    .container{
      size: 400px;
      margin-left: 100px;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Enter Location</h2>
  <form action="/airpoll" method="POST">
    <div class="form-group">
      <label for="place">Location:</label>
      <input type="text" class="form-control" id="place" placeholder="" name="place">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>