<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
      #section3{
        height: 400px;
        width: 100%;
      }
      #sectio1{
        height: 1080px;
        width: 100%;
        background-image: url("https://images.nvidia.com/geforce-com/international/images/destiny-2/destiny-2-render-resolution-002-200-percent-1920x1080.png");
        background-size: cover;

      }
      #h{
          margin-left: 600px;
          margin-right: 650px;
      }
      #k{
          margin-left: 600px;
      }
      #m{
          margin-left: 200px;
      }
      #p{
          margin-left: 400px;
      }
  body {
    position: relative; 
  }
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#section1">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section2">ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section3">CONTACT US</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">REGISTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">ADMINLOGIN</a>
      </li>
  </ul>
</nav>
<div id="sectio1">
<div id="section1" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <h1 id="k">HOME </h1>
  <br>
  <h1>Most Liked post on Air pollution</h1>
  <h2 id="m">CONGRACTS <%=result.Name%> YOUR POST GOT THE MOST NUMBER OF LIKES</h2>
  <br>
  <br>
</div>
<div id="section2" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
  <div id="p">
      <br>
      <br>
      <br>
      <br>
      <br>
    <h1 style="margin-left: 180px;">ABOUT US</h1>
  <p>WE are taking graduation from DIT university dehradun.</p>
    <p>we opt of BTECH computer science and Engineering.</p>
    <p>Now we are on 4 year and WE are making project on </p>
    <p>Estimating carbon emission gases through Vehicle </p>
    <p>And the data that we get air pollution through vehicle can be accessed from this site.</p>
  </div>
</div>
</div>
<div id="section3" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
<div style="margin-left: 450px;">
  <h1>Contact Us</h1>
  <p>Mobile Number -12345678</p>
  <br>
  <p>address-miyawala Raipur road dehradun hashratganj lucknow Bihar </p>
</div>
</div>
</body>
</html>